#wrap {
    width: 100%;
}

#day_list th {
    text-align: center;
}

.calendar_main{
    width: 100%;
    height: 1000px;
    border: 1px solid #999999;
}

.calendar_main td {
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}